[alias]
  c = commit
  co = checkout
  s = status
  p = push
  pl = pull --rebase
  l = log --graph --date=iso --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[ghq]
  root = ~/src
